<div class="max-w-md mx-auto">
  <p-card>
    <div class="font-semibold text-xl mb-4">Mi perfil</div>

    <ng-template pTemplate="content">
      <div *ngIf="user && !isLoading" class="flex flex-col p-4 rounded-md">
        <p><strong>Nombre completo:</strong> {{ user.fullName }}</p>
        <p><strong>Nombre de usuario:</strong> {{ user.userName }}</p>
        <p><strong>Correo electrónico:</strong> {{ user.email }}</p>
        <p><strong>Numero de celular:</strong> {{ user.phoneNumber }}</p>
        <p><strong>Roles:</strong> {{ user.roles.join(', ') }}</p>
      </div>
    </ng-template>

    <!-- <ng-template pTemplate="footer">
    <div class="flex justify-between md:flex-row md:justify-between gap-4">
      <app-back-button></app-back-button>
      <p-button label="Modificar" type="button" class="md:w-auto mt-2 rounded-md">
      </p-button>
    </div>
  </ng-template> -->
  </p-card>
</div>