<div class="card">
    <div *ngIf="isLoading" aria-live="polite" class="flex flex-col justify-center items-center mt-2">
        <div class="animate-spin rounded-full mb-1"
            style="height: 2.5rem; width: 2.5rem; border-top: 2px solid #3B82F6;" aria-label="Cargando..."></div>
        <span>Cargando bibliografias</span>
    </div>

    <div *ngIf="!isLoading && projects.length === 0" style="text-align: center; color: #6B7280; margin-top: 1.5rem;">
        No hay bibliografias disponibles en este momento.
    </div>
    <p-table *ngIf="!isLoading" #dt2 [value]="projects" [paginator]="true" [rows]="15"
        [globalFilterFields]="['title', 'status', 'studentUserId']" dataKey="id" [tableStyle]="{ 'min-width': '60rem' }"
        [expandedRowKeys]="expandedRows" (onRowExpand)="onRowExpand($event)" (onRowCollapse)="onRowCollapse($event)">

        <ng-template #caption>
            <div class="flex">
                <!-- <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt2)" /> -->
                <p-iconfield iconPosition="left">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" (input)="onFilter($event)" placeholder="Buscar" />
                </p-iconfield>
            </div>
        </ng-template>

        <ng-template #header>
            <tr>
                <th style="width: 5rem"></th>
                <th pSortableColumn="title">Titulo <p-sortIcon field="title" /></th>
                <th>Progreso</th>
                <th pSortableColumn="studentUserName">Alumno <p-sortIcon field="studentUserName" /></th>
                <th>Cantidad de tareas</th>
                <th pSortableColumn="createDate">Fecha de inicio <p-sortIcon field="createDate" /></th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template #body let-project let-expanded="expanded">
            <tr>
                <td>
                    <p-button type="button" pRipple [pRowToggler]="project" [text]="true" [rounded]="true"
                        [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                </td>
                <td>{{ project.title }}</td>
                <td><p-progressbar [value]="getPercent(project)" /></td>
                <td>{{ project.studentUserName }}</td>
                <td>{{ project.orders.length }}</td>
                <td>{{ project.createDate | date:'dd/MM/yyyy' }}</td>
                <td class="flex gap-2">
                    <p-button icon="pi pi-pencil" label="Editar" (click)="confirmEditProject(project.id, $event)"
                        styleClass="p-button-secondary" />
                    <p-button icon="pi pi-trash" label="Eliminar" (click)="deleteOrderDelivery(project.id)"
                        styleClass="p-button-danger" />
                    <p-button icon="pi pi-send" label="Entregar" severity="success"
                        [disabled]="getPercent(project) != 100" (click)="confirmDeleteProject(project.id, $event)" />
                </td>
            </tr>
        </ng-template>

        <ng-template #expandedrow let-project>
            <tr>
                <td colspan="6">
                    <div class="p-4">
                        <p-table [value]="project.orders" dataKey="id">
                            <ng-template #header>
            <tr>
                <th pSortableColumn="name">Nombre <p-sortIcon field="name" /></th>
                <th>Descripción</th>
                <th pSortableColumn="status">Estado <p-sortIcon field="status" /></th>
                <th pSortableColumn="creationDate">Fecha de creación <p-sortIcon field="creationDate" /></th>
                <th pSortableColumn="limitDate">Vencimiento <p-sortIcon field="limitDate" /></th>

            </tr>
        </ng-template>
        <ng-template #body let-task>
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td><p-tag [value]="task.status" [severity]="getSeverity(task.status)" /></td>
                <td>{{ task.creationDate | date:'dd/MM/yyyy' }}</td>
                <td>{{ task.limitDate | date:'dd/MM/yyyy' }}</td>
                <td>
                    <p-button icon="pi pi-eye" label="Detalles" (click)="onShowTaskDetail(project.id, task.id)"
                        styleClass="flex-auto md:flex-initial whitespace-nowrap"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
</td>
</tr>
</ng-template>
</p-table>
</div>

<p-dialog header="Detalles de la tarea" [modal]="true" [(visible)]="isTaskDetailOpen" styleClass="max-w-4xl w-full">
    <app-task-detail *ngIf="taskId && selectedProject" [taskId]="taskId"
        (taskDeleted)="handleTaskDeletion(selectedProject.id, taskId)"></app-task-detail>
</p-dialog>

<p-dialog header="Entregar bibliografia" [modal]="true" [(visible)]="isDeliveryOpen">
    <div class="flex flex-col gap-4">
        <label>Seleccione alumno:</label>
        <p-dropdown [options]="students" [(ngModel)]="selectedStudent" optionLabel="fullName"
            placeholder="Seleccione un alumno" appendTo="body"></p-dropdown>
        <div class="flex justify-end gap-2 mt-4">
            <p-button label="Cancelar" icon="pi pi-times" (onClick)="isDeliveryOpen = false"></p-button>
            <p-button label="Confirmar entrega" icon="pi pi-check" (onClick)="sendProjectDelivery()"
                [disabled]="!selectedStudent"></p-button>
        </div>
    </div>
</p-dialog>

<app-popup [isVisible]="showConfirmPopup" title="Eliminar bibliografía"
    question="Si eliminas la bibliografía todas sus tareas quedaran sueltas" primaryActionText="Aceptar"
    secondaryActionText="Cancelar" (primaryAction)="deleteOrderDelivery(proyectId)"
    (secondaryAction)="showConfirmPopup = false">
</app-popup>

<p-dialog header="Editar bibliografía" [(visible)]="showNewDeliveryModal" [modal]="true" [style]="{width: '450px'}">
    <form [formGroup]="deliveryForm" (ngSubmit)="updateOrderDelivery()" class="flex flex-col gap-4">
        <div class="flex flex-col">
            <label for="deliveryName" class="mb-4 font-bold">Nombre de la bibliografía</label>
            <input pInputText id="deliveryName" type="text" formControlName="title"
                placeholder="Ingresa el nuevo nombre" />
            <small class="text-red-500 mt-2"
                *ngIf="deliveryForm.get('title')?.invalid && deliveryForm.get('title')?.touched">
                El nombre es requerido
            </small>
        </div>
        <div class="flex flex-col">
            <label for="deliveryStudentId" class="mb-4 font-bold">Seleccionar alumno</label>
            <p-dropdown id="deliveryStudentId" formControlName="deliveryStudentId" [options]="dropdownItemsUsers"
                optionLabel="name" optionValue="value" placeholder="Selecciona el nuevo usuario" class="w-full"
                appendTo="body">
            </p-dropdown>
            <small class="text-red-500 mt-2"
                *ngIf="deliveryForm.get('deliveryStudentId')?.hasError('required') && deliveryForm.get('deliveryStudentId')?.touched">
                El usuario es requerido
            </small>
        </div>
        <div class="flex justify-end gap-2 mt-4">
            <p-button type="button" label="Cancelar" (click)="showNewDeliveryModal = false"
                styleClass="p-button-text"></p-button>
            <p-button type="submit" label="Guardar"></p-button>
        </div>
    </form>
</p-dialog>