<div *ngIf="isLoading" aria-live="polite" class="fixed inset-0 flex flex-col justify-center items-center bg-white/80">
    <div class="animate-spin rounded-full mb-1" style="height: 5rem; width: 5em; border-top: 5px solid #3B82F6;"
        aria-label="Cargando..."></div>
    <span>Cargando datos</span>
</div>

<div class="grid grid-cols-1 md:grid-cols-3 md:auto-rows-auto gap-4">

    <!-- Div 1 -->
    <div class="order-1 md:order-none">
        <app-data-task [label]="'Total tareas'" [value]="tasks.length" [bgClass]="taskStats[0].bgClass"
            [iconClass]="taskStats[0].iconClass"></app-data-task>
    </div>

    <!-- Div 2 -->
    <div class="order-2 md:order-none">
        <app-data-task [label]="'Tareas pendientes'" [value]="tasksPend" [bgClass]="taskStats[1].bgClass"
            [iconClass]="taskStats[1].iconClass"></app-data-task>
    </div>

    <!-- Div 3 -->
    <div class="order-3 md:order-none">
        <app-data-task [label]="'Tareas en proceso'" [value]="tasksInProcess" [bgClass]="taskStats[2].bgClass"
            [iconClass]="taskStats[2].iconClass"></app-data-task>
    </div>

    <!-- Div 4 -->
    <div class="order-4 md:order-none md:row-start-2 md:col-start-1">
        <app-data-task [label]="'Tareas para revisar'" [value]="tasksInReview" [bgClass]="taskStats[3].bgClass"
            [iconClass]="taskStats[3].iconClass"></app-data-task>
    </div>

    <!-- Div 6 (va antes que el 5 solo en móvil) -->
    <div class="order-5 md:order-none md:row-start-3 md:col-start-1">
        <app-data-task [label]="'Tareas para validar'" [value]="tasksToValidate" [bgClass]="taskStats[4].bgClass"
            [iconClass]="taskStats[4].iconClass"></app-data-task>
    </div>

    <!-- Div 5 -->
    <div class="order-6 md:order-none md:row-start-2 md:row-span-2 md:col-start-2 md:col-span-2">
        <p-table [value]="projects" [paginator]="true" [rows]="5">
            <ng-template pTemplate="header">
                <tr>
                    <th>Bibliografias</th>
                    <th>Cantidad de tareas</th>
                    <th>Fecha de creacion</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-project>
                <tr>
                    <td>{{ project.title }}</td>
                    <td>{{ project.orders.length }}</td>
                    <td>{{ project.deliveryDate | date:'dd/MM/yyyy' }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <!-- Div 7 -->
    <div class="order-7 md:order-none md:col-span-3">
        <app-chart-tasks></app-chart-tasks>
    </div>

</div>