<div class="card">
    <div class="flex items-center justify-center text-blue-500 text-xl font-semibold mb-4">
        <h2>Tareas</h2>
    </div>
    <p-dataview [value]="tasks" [layout]="layout">
        <ng-template #header>
            <div class="flex justify-between">
                <p-button label="Nueva Tarea" icon="pi pi-plus" (onClick)="newTask()"></p-button>
                <p-select class="w-[150px] mr-3" [(ngModel)]="dropdownValue" [options]="dropdownValues"
                    optionLabel="name" placeholder="Filtrar por estado" [showClear]="true" (onChange)="loadTasks()" />

                <p-select-button [(ngModel)]="layout" [options]="options" [allowEmpty]="false">
                    <ng-template #item let-option>
                        <i class="pi " [ngClass]="{ 'pi-bars': option === 'list', 'pi-table': option === 'grid' }"></i>
                    </ng-template>
                </p-select-button>
            </div>
        </ng-template>


        <ng-template #list let-items>
            <div class="flex flex-col">
                <div *ngFor="let item of items; let i = index">
                    <div class="flex flex-col sm:flex-row sm:items-center p-6 gap-4"
                        [ngClass]="{ 'border-t border-surface': i !== 0 }">
                        <div class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6">
                            <div class="flex flex-row md:flex-col justify-between items-start gap-2">
                                <div>
                                    <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">{{
                                        item.limitDate | date:'dd/MM/yyyy' }}</span>
                                    <div class="text-lg font-medium mt-2">{{ item.name }}</div>
                                </div>
                            </div>
                            <div class="flex flex-col md:items-end gap-8">
                                <p-tag [value]="item.status" [severity]="getSeverity(item)"></p-tag>
                                <div class="flex flex-row-reverse md:flex-row gap-2">
                                    <p-button icon="pi pi-pencil" styleClass="p-button-warning"
                                        (onClick)="editTask(item.id)"></p-button>
                                    <p-button icon="pi pi-trash" styleClass="p-button-danger"
                                        (onClick)="deleteTask(item.id, $event)"></p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #grid let-items>
            <div class="grid grid-cols-12 gap-4">
                <div *ngFor="let item of items; let i = index" class="col-span-12 sm:col-span-6 lg:col-span-4 p-2">
                    <div
                        class="p-6 border border-surface-200 dark:border-surface-700 bg-surface-0 dark:bg-surface-900 rounded flex flex-col">
                        <div>
                            <p-tag [value]="item.status" [severity]="getSeverity(item)"></p-tag>
                            <div class="flex flex-row justify-between items-start gap-2">

                                <div>
                                    <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">{{
                                        item.category }}</span>
                                    <div class="text-lg font-medium mt-1">{{ item.name }}</div>
                                </div>
                            </div>
                            <div class="flex flex-col gap-6 mt-6">
                                <div class="flex gap-2 justify-end">
                                    <p-button icon="pi pi-pencil" styleClass="p-button-warning"
                                        (onClick)="editTask(item.id)"></p-button>
                                    <p-button icon="pi pi-trash" styleClass="p-button-danger"
                                        (onClick)="deleteTask(item.id, $event)"></p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataview>
</div>