<p-card
    [style]="{ overflow: 'hidden', wordWrap: 'break-word', border: task.isPriority ? '2px solid #ff4d4f' : 'none' }">
    <ng-template #header>
        <div style="display: flex; justify-content: end; align-items: center">
            <p-tag [value]="task.status" [severity]="getSeverity(task.status)" [style]="{fontSize: '1.2em'}"></p-tag>
        </div>
    </ng-template>
    <ng-template #title><strong>{{ task.name }}</strong></ng-template>
    <ng-template #subtitle>
        <div style="display: flex; align-items: center;">
            <span>Prioridad: </span>
            <span *ngIf="task.isPriority"
                style="color: #ff4d4f; font-weight: bold; display: flex; align-items: center; margin-left: 5px;">
                Alta
                <i class="pi pi-exclamation-triangle" style="margin-left: 5px;"></i>
            </span>
            <span *ngIf="!task.isPriority">Normal</span>
        </div>
    </ng-template>
    <p>Vencimiento: {{ task.limitDate | date:'dd/MM/yyyy' }}</p>
    <ng-template #footer>
        <div style="display: flex; justify-content: end; align-items: center;">
            <ng-container *ngIf="showCheckbox; else buttonTemplate">
                <label class="flex justify-center items-center gap-1">
                    <input type="checkbox" [(ngModel)]="task.selected"
                        (change)="taskSelectionChange.emit(task.selected)" />
                    Seleccionar
                </label>
            </ng-container>
            <ng-template #buttonTemplate>
                <p-button icon="pi pi-eye" label="Detalles" (onClick)="showTaskDetail.emit(task.id)"></p-button>
            </ng-template>
        </div>
    </ng-template>
</p-card>