<div class="container max-w-6xl mx-auto mb-4 dark:text-gray-200 flex flex-col">
  <p-toast></p-toast>
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-2xl font-semibold">{{ fileName }}</h2>

    <div *ngIf="state != 'En Revisión' && state != 'Aprobada'" class="flex gap-4">
      <p-button label="Finalizar proceso" icon="pi pi-check" styleClass="p-button-primary" (click)="finalizarProceso()">
      </p-button>
    </div>

    <div class="flex gap-4" *ngIf="state == 'En Revisión' || state == 'Aprobada'">
      <p-button label="Denegar resultado" icon="pi pi-times" [severity]="'warn'" (click)="denegarResultado()">
      </p-button>

      <p-button label="Finalizar revisión" icon="pi pi-check" styleClass="p-button-success"
        (click)="finalizarRevision(state)">
      </p-button>
    </div>
  </div>

  <div *ngIf="!ocrData" class="bg-gray-200 dark:bg-gray-700 text-center p-6 rounded-md">
    <p class="text-blue-600 dark:text-blue-300 text-lg">No hay datos OCR disponibles.</p>
  </div>

  <div class="flex gap-6 lg:flex-row sm:flex-col min-h-[70vh]">
    <app-ocr-text-viewer class="w-full lg:w-1/2 h-[70vh]" [ocrData]="ocrData" [currentPage]="currentPage"
      [isEditing]="isEditing" [editingText]="editingText" (editClicked)="startEditing()"
      (cancelEditing)="cancelEditing()" (pageChange)="goToPage($event)">
    </app-ocr-text-viewer>

    <iframe [src]="urlSafe" type="application/pdf"
      class="w-full lg:w-1/2 h-[70vh] border rounded-lg shadow-lg"></iframe>
  </div>
</div>