<div class="container max-w-6xl mx-auto mb-4 dark:text-gray-200 flex flex-col">

  <div class="flex justify-between items-center mb-6">
    <h2 class="text-2xl font-semibold">{{ fileName }}</h2>

    <div *ngIf="state != 'En Revisión' && state != 'Aprobada'" class="flex gap-4">
      <p-button label="Finalizar proceso" styleClass="p-button-primary" (click)="finalizarProceso()">
      </p-button>
    </div>

    <div class="flex gap-4" *ngIf="state == 'En Revisión'">
      <p-button label="Denegar resultado" [severity]="'warn'" (click)="denegarResultado()">
      </p-button>

      <p-button label="Finalizar revisión" styleClass="p-button-success" (click)="finalizarRevision(state)">
      </p-button>
    </div>

    <div class="flex gap-4" *ngIf="state == 'Aprobada'">
      <p-button label="Denegar resultado" [severity]="'warn'" (click)="denegarResultado()">
      </p-button>

      <p-button label="Finalizar validación" styleClass="p-button-success" (click)="finalizarRevision(state)">
      </p-button>
    </div>
  </div>

  <div *ngIf="!ocrData" class="bg-gray-200 dark:bg-gray-700 text-center p-6 rounded-md">
    <p class="text-blue-600 dark:text-blue-300 text-lg">No hay datos OCR disponibles.</p>
  </div>

  <div class="flex gap-6 lg:flex-row sm:flex-col min-h-[70vh]">
    <app-ocr-text-viewer class="h-[70vh] transition-all duration-300" [ocrData]="ocrData" [currentPage]="currentPage"
      [isEditing]="isEditing" [editingText]="editingText" (editClicked)="startEditing()"
      (cancelEditing)="cancelEditing()" (pageChange)="goToPage($event)"
      (showPdfPreviewChange)="actualizarEstado($event)" [style.width]="showPdfPreview ? '50%' : '100%'">
    </app-ocr-text-viewer>

    <iframe *ngIf="showPdfPreview" [src]="urlSafe" type="application/pdf"
      class="h-[70vh] border rounded-lg shadow-lg transition-all duration-300 w-1/2">
    </iframe>
  </div>
</div>