/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';

.p-dataview-emptymessage {
    display: none !important;
}

.layout-main{
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .ocr-pdf{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 2em;
    }
}