<p-card class="dark:bg-gray-800 text-gray-900 dark:text-gray-200">
    <ng-template pTemplate="content">
        <div class="flex justify-end mb-3">
            <p-button [label]="showPdfPreview ? 'Ocultar PDF' : 'Mostrar PDF'" (click)="togglePdfPreview()"
                class="p-button-secondary">
            </p-button>
        </div>
        <p-panel header="Texto Procesado por el OCR:"
            [style]="{ minHeight: '350px', maxHeight: isEditing ? '500px' : '250px', overflow: 'auto' }"
            class="dark:bg-gray-700 text-gray-900 dark:text-gray-300 min-h-[250px]">
            <ng-container *ngIf="!isEditing">
                <p-scrollPanel [style]="{ maxHeight: '240px' }">
                    <pre class="whitespace-pre-wrap font-mono text-sm">{{ getCurrentPage()?.text }}</pre>
                </p-scrollPanel>

            </ng-container>

            <ng-container *ngIf="isEditing">
                <editor
                    [(ngModel)]="editingText"
                    [init]="tinyMceConfig"
                    class="w-full min-h-[250px] mt-2">
                </editor>
                <div class="flex justify-end gap-4 mt-3">
                    <p-button label="Guardar cambios" class="p-button-success" (click)="onSaveChanges()"></p-button>
                    <p-button label="Cancelar" class="p-button-secondary" (click)="isEditing = false"></p-button>
                </div>
            </ng-container>
        </p-panel>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="flex justify-end mt-3">
            <p-button label="Editar texto" class="p-button-primary" *ngIf="!isEditing"
                (click)="onStartEditing()"></p-button>
            <p-button label="Hacer anotacion" class="p-button-primary" *ngIf="!isEditing"
                (click)="onStartAnnotation()"></p-button>
        </div>

        <div *ngIf="ocrData" class="flex justify-center gap-2 mt-3">
            <p-button icon="pi pi-angle-left" (click)="goToPage(currentPage - 1)"
                class="p-button-rounded p-button-secondary"></p-button>

            <p-button
                *ngFor="let page of ocrData.pages.slice(currentPage - (pagesPerView / 2), currentPage + (pagesPerView / 2))"
                (click)="goToPage(page.number)" [severity]="currentPage === page.number ? 'primary' : 'secondary'"
                class="p-button-rounded">
                {{ page.number }}
            </p-button>


            <p-button icon="pi pi-angle-right" (click)="goToPage(currentPage + 1)"
                class="p-button-rounded p-button-secondary"></p-button>
        </div>
    </ng-template>
</p-card>


<p-dialog header="Hacer una anotacion en Pagina {{ this.currentPage }}" [modal]="true" [(visible)]="visible"
    [style]="{ width: '25rem' }">
    <div class="flex items-center gap-4 mb-8">
        <label for="email" class="font-semibold w-24">Anotacion</label>
        <textarea [(ngModel)]="annotation" rows="5" cols="30" pTextarea [autoResize]="true"></textarea>

    </div>
    <div class="flex justify-end gap-2">
        <p-button label="Cancelar" severity="secondary" (click)="visible = false" />
        <p-button label="Guardar" (click)="onSaveAnnotation()" />
    </div>
</p-dialog>