<div *ngIf="!taskData" class="flex justify-center items-center min-h-screen">
    <div class="animate-spin rounded-full h-10 w-10 border-t-2 border-blue-500"></div>
</div>

<p-fluid>
    <app-form-task *ngIf="taskData" [isEditMode]="true" [taskId]="taskId" [taskData]="taskData"
        (formSubmitted)="onFormSubmit($event)"></app-form-task>
</p-fluid>

<app-popup [isVisible]="showConfirmPopup" title="Confirmar Modificación"
    question="¿Estás seguro de que deseas modificar esta tarea?" primaryActionText="Modificar"
    secondaryActionText="Cancelar" (primaryAction)="onConfirmSubmit()" (secondaryAction)="showConfirmPopup = false">
</app-popup>